@font-face {
  font-family: "Fraunces Black";
  font-style: normal;
  font-weight: normal;
  src: local("Fraunces Black"),
    url("fonts/frauncessoftwonkopszwght.woff") format("woff");
}

@font-face {
  font-family: "Fraunces Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Fraunces Black Italic"),
    url("fonts/fraunces-italicsoftwonkopszwght.woff") format("woff");
}

*:not(.ui.card) {
  font-family: "Fraunces Black";
}

.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 400px;
  margin: auto;
}
